<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.demandware.studio.debug.remoteScriptApplication">
<stringAttribute key="com.demandware.studio.debug.SERVER_CONFIGURATION" value="6429593439146497626"/>
<stringAttribute key="com.demandware.studio.debug.SITE_ID" value="Sites-Training15871-Site"/>
</launchConfiguration>
